.container {
	width: 89%;
	margin: auto auto;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.nav {
	padding: 2% 0.3%;
	position: fixed;
	min-width: 1300px;
	z-index: 5;
	background-color: white;
	img {
		border-radius: 50%;
	}
}
