.table {
	width: 95%;
	text-align: left;
	background-color: #f3f3f3;
	border-radius: 20px;
	.header {
		background-color: #f3f3f3 !important;
	}

	.inner {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 0.5em;
		td {
			color: black;
		}
		td,
		th {
			padding: 15px 10px;
		}

		tr:nth-child(odd) {
			background-color: white;
		}
		thead {
			color: #7d7d7d;
			font-size: 17px;

			th {
				font-weight: lighter !important;
			}
		}
	}
}

.filterButton, .exportButton{
      display: flex;
      align-items: center;
      justify-content: space-around;
     padding: 8px 20px ;
      border-radius: 5px;
      button{
            margin-left:10px
      }
}

.filterButton{
      background-color: #F3F3F3;
      margin-right: 20px;
}
.exportButton{
      background-color: var(--accent-color);
      color: white;
}

.search {
	input {
	  border: none;
	  border: 1px solid #d9d9d9;
	  outline: none;
	  padding: 7px 10px;
	  border-top-left-radius: 5px;
	  border-bottom-left-radius: 5px;
	}
    }
    
    .search input[type="text"]::placeholder {
	padding: 10px 0px;
    }
    
    .search span {
	border: 1px solid #d9d9d9;
	border-left: none;
	padding: 6.3px 15px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    }
    

// .bidderID{
//       display: flex;
//       align-items: center;
//       justify-content: space-around;
//       width: 100px;
//       padding: 10px;
//       border-radius: 10px;
 
// }

// .bidderID:nth-child(even){
//       background-color: #f3f3f3;
// }

// .bidderID:nth-child(odd){
//       background-color: white  ;
// }