.container {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  position: fixed;
  //   padding-top: 5rem;
  // padding-inline: 1rem;
  background-color: var(--accent-color);
  height: 100vh;
  width: 25rem;
  z-index: 6;
  & > a {
    margin: 5rem 0;
    align-self: center;
  }
  ul {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // width: 100%;
    li {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      a {
        padding: 1.4rem 2rem;
        display: flex;
        align-items: center;
        width: 100%;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          // background-color: #743b9678;
        }
        h3 {
          margin-left: 1rem;
          color: var(--text-white);
        }
      }
      button {
        display: flex;
        align-items: center;
        width: 100%;
        color: var(--text-white);
        padding: 1.4rem 2rem;
        svg {
          width: 24px;
          height: 24px;
          fill: #d5c4df;
        }
        span {
          margin-left: 1rem;
        }
      }
    }
  }
}

.active {
  background-color: white;
  font-weight: 900 !important;
  a {
    svg {
      fill: var(--accent-color) !important;
    }
  }
  h3 {
    color: var(--accent-color) !important;
  }
}

.confirm-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
  p {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 0 2rem;
    button {
      border: 1px solid var(--accent-color);
      width: 40%;
      &:nth-child(1) {
        background-color: transparent;
        color: var(--accent-color);
      }
      &:nth-child(2) {
      }
    }
  }
}
