.container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  background-color: var(--bg-white);
  & > div {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
  .image-preview,
  .loading-image-preview {
    & > img {
      height: 25rem;
      width: 25rem;
      object-fit: cover;
      margin: 0 auto;
    }
    & > div {
      margin-top: 2rem;
      display: flex;
      width: 30rem;
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 0.4rem;
      }
      &::-webkit-scrollbar-track {
        background-color: #c4c4c4;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #626d58;
      }
      img {
        // padding: 1rem;
        margin: 1rem;
        height: 8rem;
        width: 8rem;
        object-fit: cover;
        cursor: pointer;
        // box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.15);
        border: 2px solid transparent;
      }
      .selected {
        border: 2px solid var(--accent-color);
      }
    }
  }
  .product-description,
  .loading-product-description {
    width: 50rem;
    h1 {
      font-size: 2.5rem;
      color: var(--text-black);
      margin-bottom: 1rem;
    }
    .watchlist {
      display: flex;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      span {
        display: flex;
        align-items: center;
        color: #004ce8;
        &:not(:last-child) {
          margin-right: 3rem;
        }
        svg {
          width: 17px;
          height: 17px;
          margin-right: 0.5rem;
        }
      }
    }
    h3 {
      color: var(--accent-color);
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }
    hr {
      margin-bottom: 1rem;
      width: 14rem;
      border: 1px solid var(--accent-color);
    }
    p {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    .price {
      margin-bottom: 1rem;
      span {
        font-size: 2.4rem;
        color: var(--accent-color);
        &:not(:last-child) {
          margin-right: 3rem;
        }
        &:nth-child(2) {
          color: var(--text-black);
          font-weight: 500;
        }
      }
    }
    form {
      display: flex;
      input {
        border: 2px solid #d9d9d9;
        border-radius: 0.5rem;
        width: 18rem;
        padding: 0 2rem;
        margin-right: 3rem;
      }
      button {
        width: 18rem;
      }
    }
  }
  .ongoing-bidders,
  .loading-ongoing-bidders {
    width: 22rem;
    h3 {
      color: var(--text-white);
      font-size: 2rem;
      background-color: var(--accent-color);
      padding: 1rem;
    }
    ul {
      height: 35rem;
      overflow-y: auto;
      background-color: var(--bg-primary);
      &::-webkit-scrollbar {
        width: 0.4rem;
      }
      &::-webkit-scrollbar-track {
        background-color: #c4c4c4;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #626d58;
      }
      li {
        display: flex;
        align-items: center;
        position: relative;
        padding: 2rem 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid #e4e3e3;
        }
        img {
          height: 4rem;
          width: 4rem;
          object-fit: cover;
          border-radius: 50%;
          border: 0.2rem solid var(--bg-white);
          margin-right: 1rem;
        }
        & > div {
          h4 {
            line-height: 1;
            color: var(--text-black);
            font-weight: 500;
            margin-bottom: 0.7rem;
          }
          h5 {
            line-height: 1;
            color: var(--text-black);
            margin-bottom: 0.7rem;
          }
          p {
            line-height: 1;
          }
          span {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 0.9rem;
            background-color: var(--accent-color);
            color: var(--text-white);
            line-height: 1;
            border-radius: 0.3rem;
            padding: 0.2rem 0.6rem;
            margin: 0.4rem;
          }
        }
      }
    }
  }
  .loading-image-preview {
    & > div {
      height: 25rem;
      width: 25rem;
      margin: 0 auto;
      background-color: #dddddd;
      background-size: 200% 100%;
      background-image: linear-gradient(
        90deg,
        #ececec 0px,
        #ddd 40px,
        #ececec 80px
      );
      animation: 1s shine linear infinite;
    }
  }
  .loading-product-description {
    h1,
    h3,
    p,
    form,
    .watchlist,
    .price {
      background-color: #dddddd;
      background-size: 200% 100%;
      background-image: linear-gradient(
        90deg,
        #ececec 0px,
        #ddd 40px,
        #ececec 80px
      );
      animation: 1s shine linear infinite;
    }
    h1 {
      height: 4.2rem;
    }
    .watchlist {
      height: 2.6rem;
      span {
      }
    }
    h3 {
      height: 18rem;
    }
    p {
      height: 5rem;
    }
    .price {
      height: 2.6rem;
    }
    form {
      height: 5rem;
    }
  }
  .loading-ongoing-bidders {
    background-color: #dddddd;
    background-size: 200% 100%;
    background-image: linear-gradient(
      90deg,
      #ececec 0px,
      #ddd 40px,
      #ececec 80px
    );
    animation: 1s shine linear infinite;
  }
}

.access-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  p {
    text-align: center;
    margin-bottom: 2rem;
  }
  .inputs {
    margin-bottom: 5rem;
    justify-content: center;
    margin-inline: auto;
    height: auto;
    & > div {
      input {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem !important;
        background-color: #e1e1e1;
        border-radius: 0.5rem;
        font-size: 2rem;
        line-height: 1;
        color: var(--text-secondary);
        &:focus-visible {
          outline-color: var(--accent-color);
        }
      }
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
