.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  & > div {
    display: flex;
    align-items: center;
    svg {
      width: 17px;
      height: 17px;
      margin-right: 0.5rem;
      path {
        fill: #575757;
        fill-opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 360px) {
  .container {
    & > div {
      font-size: 1.2rem;
    }
  }
}
