.container {
  & > p {
    color: var(--text-white);
    padding: 0.9rem 1.2rem;
    background-color: var(--accent-color);
  }
  ul {
    background-color: var(--bg-white);
    overflow-y: auto;
    height: calc(40rem - 4.31rem);
    &::-webkit-scrollbar {
      width: 0.4rem;
    }
    &::-webkit-scrollbar-track {
      background-color: #c4c4c4;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #626d58;
    }
    li {
      padding: 0.9rem 1.2rem;
      text-transform: capitalize;
      &:hover {
        background-color: var(--background-hover);
        cursor: pointer;
      }
    }
  }
}
