.container {
	background-color: white;
	height: 100%;

    form{
        
        h3{
            font-weight:600;
        }
            
            label{
                font-size: 17px;
                font-weight: 500;
                display: block;
                margin-bottom: 20px;

            }
            span{
                color: red;
            }
        
            input::placeholder{
                color: black;
            }

        input, select{
            background-color: rgb(236, 234, 234);
            padding: 10px 20px;
            width: 100%;
            color: black;
            outline: none;
            border-radius: 3px;
            margin-bottom: 20px;
        }
        select{
            padding: 13px 20px;
        }
    }

	
}
