.container {
  padding: 4rem;
  .preview {
    display: flex;
    gap: 0 4rem;
    position: relative;
    & > span {
      position: absolute;
      // top: 0;
      // background-color: var(--bg-white);
      // height: 3rem;
      // width: 3rem;
      // border-radius: 50%;
      // margin: 1rem;
      svg {
        // width: 2rem;
        // height: 2rem;
        cursor: pointer;
      }
    }
    & > svg {
      // width: 25rem;
      path {
      }
    }
    img {
      width: 27rem;
      height: 27rem;
      object-fit: cover;
      border-radius: 50%;
    }
    & > div {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
      h1 {
        font-size: 2.4rem;
        color: var(--text-black);
      }
      p {
        display: flex;
        align-items: center;
        column-gap: 0.7rem;
        font-size: 1.8rem;
        color: var(--text-secondary);
        svg {
          width: 1.8rem;
          path {
            fill: var(--text-secondary);
          }
        }
      }
      h2 {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        font-size: 2.2rem;
        color: #0cbc8b;
        svg {
          margin-bottom: 1rem;
          width: 3rem;
          path {
            fill: #0cbc8b;
          }
        }
      }
      & > div {
        display: flex;
        column-gap: 2rem;
        margin-top: auto;
        button {
          font-size: 1.2rem;
          width: 20rem;
          &:nth-child(1) {
            background: #eb5757;
          }
          &:nth-child(2) {
          }
        }
      }
    }
  }
  .details {
    margin-top: 4rem;
    background-color: var(--bg-primary);
    min-height: 38rem;
    overflow: hidden;
    & > ul {
      display: flex;
      column-gap: 2rem;
      //   padding-inline: 2rem;
      border-bottom: var(--border);
      li {
        line-height: 1;
        padding: 2rem;
        cursor: pointer;
      }
      .active {
        border-bottom: 3px solid #cccccc;
      }
    }
    & > div {
      padding: 2rem;
      ul {
        li {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          p,
          label {
            width: 20rem;
          }
          p {
            font-size: 1.1rem;
          }
          & > span {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
            padding-inline: 1rem;
            svg {
              width: 2rem;
            }
          }
          label {
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 1;
          }
          input,
          select {
            font-size: 1.2rem;
            font-weight: 500;
            background-color: transparent;
            border-bottom: 1px solid #cccccc;
            padding-inline: 1rem;
            width: 30rem;
            height: 27.25px;
            transition: all 0.3s;
            &:disabled {
              border-bottom: 1px solid transparent;
            }
            &:focus-visible {
              outline: 1px solid var(--accent-color);
              border-bottom: 1px solid transparent;
            }
          }
        }
      }
      button {
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: 3rem;
        width: 20rem;
      }
    }
  }
}
