.container {
  .main {
    padding: 7rem 10rem;
    .zozo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > div {
        h1 {
          margin-bottom: 1.5rem;
          color: var(--text-black);
        }
        p {
          display: inline-block;
          font-size: 1.6rem;
          max-width: 68.5rem;
          color: var(--text-black);
        }
      }
      .video {
        img {
          max-width: 63rem;
          max-height: 34rem;
          object-fit: cover;
        }
      }
    }
    .more {
      margin-top: 3rem;
      & > h1 {
        position: relative;
        font-size: 2rem;
        color: var(--text-black);
        border-bottom: 1px solid #d9d9d9;
        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 23rem;
          height: 0.4rem;
          background-color: var(--accent-color);
          content: "";
        }
      }
      & > div {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        div,
        img {
          border-radius: 0.8rem;
        }
        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 28rem;
          height: 27rem;
          background-color: var(--bg-white);
          box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
          h1 {
            font-size: 1.4rem;
            color: var(--text-black);
            text-transform: uppercase;
            text-align: center;
            margin-top: 1rem;
            line-height: 1.6;
          }
          img {
          }
        }
      }
    }
  }
}
