.children{
   
      margin: auto auto;
      
      margin-left: 15% !important;
}

@media only screen and (max-width: 781px) {
      .children{
   
            margin: auto auto;
            
            margin-left: 2% !important;
      }
    }