.cart {
    
    padding: 20px
}

.sign_in_button {
 border: 1px solid #743B96;   
}
.purple_text {
    color: #743B96;
    font: bold;
}
.bid_text {
    font-size: 19px;
    padding-left: 25px;
}
.white_strip {
    background-color: blue;
    border: 1px solid white;
    height: 50px;
    margin-top: 50px;
}