.categoryNames {
	background-color: #f9f9f9;
	ul {
		display: flex;
		justify-content: space-around;
		padding: 20px;
		// max-width: 100%;
		// overflow-x: scroll;
	}

	li {
		text-transform: capitalize;
		cursor: pointer;
		color: black;
		font-weight: 400;
	}
	

	
}
.content,
	.content-loading {
		.card {
			position: relative;
			padding: 3rem;
			text-align: center;
			transition: all 0.3s;
			border-radius: 0.5rem;
			border: 1px solid transparent;
			// border-radius: 0.5rem;
			// border: 1px solid var(--accent-color);
			img {
				width: 20rem;
				height: 20rem;
				object-fit: cover;
				margin: 0 auto;
			}
			h3 {
				font-size: 1.8rem;
				margin-top: 1.6rem;
				color: #004ce8;
			}
			p {
			}
			span {
			}
			b {
				top: 1rem;
				right: 1rem;
				position: absolute;
				background-color: var(--accent-color);
				padding: 0.3rem 0.6rem;
				color: var(--text-white);
				font-size: 1.1rem;
				line-height: 1;
				border-radius: 01rem;
				filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.15));
			}
			&:hover {
				border-radius: 0.5rem;
				border: 1px solid var(--accent-color);
			}
		}
	}

