.container {
  position: absolute;
  left: 0;
  width: 100%;
  .content {
    // width: 1440px;
    // margin: auto;
  }
}

.first_section {
  background-color: #743b96b5;
  color: white;
  width: 100%;
}

.first_section p {
  font-weight: lighter;
}

.second_section,
.third_section {
  background-color: var(--accent-color);
  color: white;
}
.third_section .img_cover {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff95;
}
