.container {
  height: 100vh;
  .main {
    display: flex;
    & > div {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100vh;
      width: 50%;
      padding: 0 2rem;
      background-color: var(--accent-color);
      & > a {
        position: absolute;
        top: 0;
        left: 0;
        margin: 3rem;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 0 6rem;
      font-size: 1.7rem;
      font-weight: 500;
      & > a {
        position: absolute;
        top: 0;
        left: 0;
        margin: 3rem;
      }
      h1 {
        margin-bottom: 2rem;
      }
      p {
        align-self: flex-start;
        margin-bottom: 3rem;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1.5rem;
        padding-top: 4rem;
        padding-bottom: 8rem;
        border-top: 1px dashed #bbbbbb;
        border-bottom: 1px dashed #bbbbbb;
        label {
          color: var(--text-primary);
          margin-bottom: 0.7rem;
        }
        input {
          height: 4rem;
          padding: 2rem;
          border: none;
        }
      }
      button {
        margin-top: 15rem;
      }
      span {
        margin-top: 1.2rem;
        a {
          color: var(--accent-color);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .container {
    .main {
      & > div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.1;
      }
      form {
        width: 100%;
        height: 100vh;
        z-index: 1;
        button {
          margin-top: 5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    .main {
      form {
        padding: 0 2rem;
        .go-back {
          top: 25%;
        }
        h1 {
          font-size: 3rem;
        }
        .google-auth {
          font-size: 1.4rem;
          svg {
            width: 3rem;
            height: 3rem;
          }
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
