@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #743b96;
  --bg-primary: #f3f3f3;
  // --bg-secondary: #181818;
  // --bg-tertiary: #353535;
  --bg-white: #ffffff;
  --bg-black: #252529;
  --text-white: #ffffff;
  --text-primary: #525252;
  --text-secondary: #5b667a;
  --text-tertiary: #a1a1a1;
  --background-hover: #eeeeee;
  --border: 1.79591px solid #e8e8e8;
  --box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.15);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-primary);
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-secondary);
}

p {
  font-style: normal;
  // font-weight: 400;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

ul {
  list-style: none;
}

.df {
  display: flex;
}

.aic {
  align-items: center;
}

.asst {
  align-self: flex-start;
}

.jcc {
  justify-content: center;
}

.fw {
  width: 100%;
}



::selection {
  background-color: var(--accent-color);
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: #626d58;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}
