.container {
  min-height: 100%;
  padding: 3rem;
  background-color: var(--bg-white);
  .header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6rem;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.5rem;
      width: 17rem;
      background-color: var(--bg-primary);
      border-radius: 0.5rem;
      margin-right: 2rem;
      cursor: pointer;
      label {
        font-size: 1.4rem;
        font-weight: 500;
        margin-right: -0.7rem;
        cursor: pointer;
      }
      select {
        color: #aeaeae;
        background-color: transparent;
        text-transform: capitalize;
        outline: none;
        padding-inline: 1rem;
        -moz-appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
      }
    }
    button {
      span {
        font-size: 2rem;
        margin-right: 0.6rem;
      }
      height: 4.5rem;
      width: 17rem;
      font-size: 1.4rem;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    opacity: 1;
    transition: all 0.4s;
    background-color: var(--bg-primary);
    tr {
      th,
      td {
        padding: 1rem;
      }
    }
    thead {
      tr {
        th {
          color: var(--accent-color);
        }
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: var(--bg-white);
        }
        td {
          &:not(:first-child) {
            text-align: center;
          }
        }
      }
    }
  }
}

.sub_nav {
  border-bottom: 1px solid #d9d9d9;
  .active_tab {
    border-bottom: 1px solid var(--accent-color);
  }
  li {
    cursor: pointer;
  }
}

.Dropdown,
.createButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 20px;
  border-radius: 5px;
  button {
    margin-left: 10px;
  }
}

.Dropdown {
  background-color: #f3f3f3;
  margin-right: 20px;

  select {
    background-color: transparent !important;
    padding: 10px;
    width: 100px;
    outline: none;
  }
}
.createButton {
  background-color: var(--accent-color);
  color: white;
}

.create-event {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 2rem;
  }
  fieldset {
    margin-bottom: 3rem;
    label {
      display: block;
      font-weight: 400;
      // font-size: 15px;
      margin-bottom: 1rem;
      span {
        color: red;
      }
    }
    select {
      width: 100%;
      border: none;
      background-color: rgba(202, 201, 201, 0.4);
      padding: 1rem 2rem;
      border-radius: 0.5rem;
    }
    input,
    textarea {
      background-color: #cac9c966;
      padding: 1rem 2rem;
      width: 100%;
      outline: #2684ff;
    }
    input[type="checkbox"] {
      margin-right: 0.8rem;
    }
    // & > div {
    //   display: flex;
    //   align-items: center;
    //   label {
    //     font-size: 1.4rem;
    //     margin-bottom: 0;
    //   }
    //   input {
    //     border-radius: 0.5rem;
    //     width: 100%;
    //   }
    //
    // }
  }
}
