.container {
	padding-top: 12%;
	width: 100%;
	z-index: -1;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
}

.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5%;

	img {
		border-radius: 50%;
	}
	input {
		background: #f3f3f366;
	}
}

.children {
	min-width: 1250px;
	margin-left: 6%;
	background-color: white;
}

.profile_details {
	background-color: #f3f3f3;
	border-radius: 20px;
	color: black;
}

.profile_subnav {
	border-bottom: 1px solid #d9d9d9;
	.active_tab {
		border-bottom: 1px solid var(--accent-color);
	}
	li {
		cursor: pointer;
	}
}
.profile_form {
	padding-bottom: 30px;
	h4 {
		font-size: 1.7rem;
		margin-top: 20px;
		font-weight: bolder;
	}
	p {
		padding: 8px 0;
		font-size: 1.4rem;
	}
	.labels {
		h4 {
			font-size: 1.2em;
			margin-top: 20px;
		}
	}
	.details {
		margin-left: 10px;
		width: 300px;
	}
	input{
		background-color: transparent;
		outline: none;
		padding: 10px;
		padding-bottom: 2px;
		display: block;
		width: 100%;
		margin-top: 4px;
	}
}
