.container {
  height: 100vh;
  .main {
    display: flex;
    & > div {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100vh;
      width: 50%;
      padding: 0 2rem;
      background-color: var(--accent-color);
      & > svg {
        height: 80%;
        width: 80%;
      }
      & > a {
        position: absolute;
        top: 0;
        left: 0;
        margin: 3rem;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 50%;
      padding: 0 6rem;
      font-size: 1.7rem;
      font-weight: 500;
      overflow: hidden;
      & > a {
        position: absolute;
        top: 0;
        left: 0;
        margin: 3rem;
      }
      .go-back {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 30%;
        border-radius: 50%;
        background-color: var(--accent-color);
        left: -3.5rem;
        width: 6rem;
        height: 6rem;
        svg {
          width: 1rem;
          margin-right: 1rem;
          path {
            fill: var(--bg-white);
          }
        }
      }
      h1 {
        margin-bottom: 2rem;
      }
      .google-auth {
        display: flex;
        align-items: center;
        position: static;
        color: var(--text-tertiary);
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        border: var(--border);
        border-radius: 10.7754px;
        padding: 0.7rem 2rem;
        margin: 0;
        margin-bottom: 1.5rem;
        svg {
          margin-right: 1rem;
        }
      }
      & > span {
        position: relative;
        font-size: 23.2676px;
        line-height: 27px;
        margin-bottom: 2rem;
        &::after {
          position: absolute;
          content: "";
          width: 2rem;
          height: 0.3rem;
        }
      }
      .form-group {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }

        label {
          color: var(--text-primary);
          margin-bottom: 0.7rem;
        }
        input {
          height: 4rem;
          padding: 2rem;
          border: none;
          width: 100%;
        }
        svg {
          position: absolute;
          right: 1rem;
          top: 4.5rem;
          height: 2rem;
          width: 2rem;
          cursor: pointer;
        }
      }
      input[type="checkbox"] {
        height: 2.4rem;
        margin-right: 1rem;
      }
      .forgot-password {
        margin-left: auto;
        color: var(--text-secondary);
      }
      button {
        margin-top: 3rem;
        margin-bottom: 1rem;
      }
      p {
        font-weight: 500;
        text-align: center;
        a {
          color: var(--accent-color);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .container {
    .main {
      & > div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.1;
      }
      form {
        width: 100%;
        height: 100vh;
        z-index: 1;
        button {
          margin-top: 5rem;
        }
        p {
          margin-top: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    .main {
      form {
        padding: 0 2rem;
        .go-back {
          top: 25%;
        }
        h1 {
          font-size: 3rem;
        }
        .google-auth {
          font-size: 1.4rem;
          svg {
            width: 3rem;
            height: 3rem;
          }
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
