// Cart css
.watch_item {
	cursor: pointer;
	background-color: white;
	position: relative;

	h4 {
		font-size: 15px;
		color: black;
		span {
			font-weight: bold;
			margin-right: 10px;
		}
	}
	p {
		font-size: 15px;
		color: var(--accent-color);
        font-weight: bold;
	}
	.cancel {
		position: absolute;
		top: 10px;
		right: 20px;
		cursor: pointer;
		font-size: 20px;
	}
}
.bid_history{
	h3{
		font-size: 15px;
		margin-top: 30px;
		margin-bottom: 20px;
		font-weight: bold;
		text-align: center;
	}
	p{
		text-align: center;
	}

	.item_row{
		width: 20%;
		text-align: left;
	}
	img{
		width: 60px;
		height: 40px;
	}
}

.won_bid{
	h3{
		font-size: 15px;
		margin-top: 30px;
		margin-bottom: 20px;
		font-weight: bold;
		text-align: center;
	}

	.item_row{
		width: 25%;
		text-align: left;
	}
	img{
		width: 60px;
		height: 40px;
	}

	p{
		text-align: center;
	}
}

.cart {
	padding: 20px;
}

.sign_in_button {
	border: 1px solid #743b96;
}
.purple_text {
	color: #743b96;
	font: bold;
}
.bid_text {
	font-size: 19px;
	padding-left: 25px;
}
.white_strip {
	background-color: blue;
	border: 1px solid white;
	height: 50px;
	margin-top: 50px;
}
.ob_container {
	height: 500px;
}
.ob_container p {
	text-align: center;
	padding-top: 200px;
	font-size: 24px;
}
.bid_history .purple {
	background-color: #743b96;
	color: white;
	width: 134px;
	height: 38px;
	text-align: center;
	padding-top: 5px;
}

.bid_history .grey {
	background-color: #d9d9d9;
	color: black;
	width: 134px;
	height: 38px;
	text-align: center;
	padding-top: 5px;
}
.dates {
	font-size: 20px;
}
.rectangle {
	width: 70%;
	height: 25%;
	background: #27ae60;
	padding: 5px;
}

// Wishlist Styles

.select {
	width: 220px;
	height: 40px;
	outline: none;
	border: 2px solid #d9d9d9;
	padding: 5px;
	color: #bebaba;
}

// Checkout styles

.email {
	border: 1px solid #9e84ad;
	border-radius: 5px;
	padding: 5px 60px;
	width: 320px;
	margin-right: 20px;
}
.email_icon {
	position: relative;
	top: 6px;
	left: 30px;
}
.dm,
.cvc {
	border: 1px solid #9e84ad;
	border-radius: 5px;
	padding: 5px 30px;
	width: 50px;
}
.dm {
	margin-right: 20px;
}

.text_lg {
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.mobile_table{
      
      li{
            margin-top: 30px;

      }

}
@media screen and (max-width: 780px) {
	.wrapper{
		width: 100% !important;
		
		a{
			font-size: 12px !important;
			width: 30px !important;
		}
	}
	.cart{
		h1{
			font-size: 20px !important;
			text-align: center;
		}
		img{
			display: none !important;
		}
	}

	.won_bids{
		button{
			width:50% !important;
			margin-top: 20px !important;
			margin-left:23%;
			padding: 7px 9px !important;
		}
	}
	.mobile_div{
		p{
			font-size: 13px !important;
			background-color: red;
		}
	}
}